* {
  background-color: blue;
  color: whitesmoke;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

button {
  background-color: grey;
  font-size: 1rem;
  font-weight: 600;
  width: fit-content;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
}